#---------------------------------------------------------------

# This is a basic workflow to help you get started with Actions

# Copyright by Oleg Biletskyi 2022

#---------------------------------------------------------------

name: My_GitHub_Actions_Part-1
env:
  APPLICATION_NAME    : "MyFlask"
  DEPLOY_PACKAGE_NAME : "flask-deploy-ver-${{ github.sha }}"
on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  my_testing:
    runs-on: ubuntu-latest
    
    steps:

      - name: Print Hello Everyone from Testing
        run: echo "Hello Everyone from Testing!"
        
      - name: A few axecutes 
        run: |
          echo "Hello Message1"
          echo "Hello Message2"
          echo "Application name is ${{ env.APPLICATION_NAME }}"
                  
      - name: List current folder
        run : ls -las
        
      - name: Git clone my repo
        uses: actions/checkout@v1
        
      - name: List current folder
        run: ls -la
    
  my_deploy:
    runs-on: ubuntu-latest
    needs: [my_testing]
    env:
      VAR1 : "This is Job Level Variable1"
      VAR2 : "This is Job Level Variable2"
    
    steps:
    
      - name: Print Hollo message frome Deploy
        run: echo "Hello from Deploy"
        
      - name: Print vars of env
        run: |
          echo "var 1 = ${{ env.VAR1 }}
          echo "var 2 = ${{ env.VAR2 }}
          echo "var 3 = $LOCAL_VAR"
        env:
          LOCAL_VAR: "This is Super local Environment variable"
          
      - name: Printing Deployment package
        run: echo "Deploy package name is ${{ env.DEPLOY_PACKAGE_NAME }}"
        
      - name: Lets test some packages if they are here 1
        run: aws --version
        
      - name: Lets test some packages if they are here 2
        run: zip --version
        
        
          
          
      
  
